<html>
 <head>
   <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
   <link rel="stylesheet"  type="text/css"  href="{{url_for('static', filename='style.css')}}" >
   <title> {{ category.name }}</title>
 </head>
 <body>
  <header>
    <nav>
       <div class="allcat">
          <a  href="{{url_for('allCategories')}}" > Catalog App </a>
       </div>
       {% if 'email' in user %}
         <div class="user">
            <div>
              <p>{{user['email']}}</p>
              <a href="{{url_for('gdisconnect')}}">
                <button class="btn_logout">logout</button>
              </a>
            </div>
         </div>
       {% else %}
         <div id="login">
           <a href="{{url_for('allCategories')}}">
              <button class="btn_login">login</button>
           </a>
         </div>
       {% endif %}
     </nav>
  </header>
     <main class="box-shadow">
         <div class="categories">
           <h1>Categories</h1>
             <ul>
               {%for cat in categories %}
               <li>
                 <a href="{{url_for('itemsByCategory', cat_id=cat.id)}}">{{ cat.name }}</a>
               </li>
               {% endfor %}
             </ul>
         </div>
         <div class="items">
           <h1>{{category.name}} items ({{ items | length}} items)</h1>
           <ul>
                 {%for i in items %}
                 <li>
                   <a href="{{url_for('getItem', cat_id=i.category_id, item_id=i.id)}}" >
                   {{ i.name }}
                   </a>
                 </li>
                 {% endfor %}
                 </ul>
           </div>
          {% if 'email' in user %}
           <div id="add_item">
            <a href="{{ url_for('addItemCat', cat_id = category.id) }}">
              <button class="btn_add">Add New Item</button>
            </a>
          {% endif %}
          </div>
       </main>
 </body>
</html>
