<html>
 <head>
   <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
   <link rel="stylesheet"  type="text/css"  href="{{url_for('static', filename='style.css')}}" >
   <title> {{ item.name }}</title>
 </head>
 <body>
   <header>
     <nav>
        <div class="allcat">
           <a  href="{{url_for('allCategories')}}" > Catalog App </a>
        </div>
        {% if 'email' in user %}
          <div class="user">
             <div>
               <p>{{user['email']}}</p>
               <a href="{{url_for('gdisconnect')}}">
                 <button class="btn_logout">logout</button>
               </a>
             </div>
          </div>
        {% else %}
          <div id="login">
            <a href="{{url_for('allCategories')}}">
               <button class="btn_login">login</button>
            </a>
          </div>
        {% endif %}
      </nav>
   </header>

     <main class="box-shadow d-block">
       <h1>{{item.name}}</h1>
         <p>{{item.description}}</p><br/><br/>
       {% if 'email' in user %}
            <a href="{{ url_for('editItem', cat_id=item.category_id,item_id=item.id)}}">
              {% if item.user_id == user.user_id %}
                  <button class="btn_add">Edit</button>
              {% else %}
                  <button class="btn_add " disabled>Edit</button>
              {% endif %}
            </a>
            <a href="{{ url_for('deleteItem',cat_id=item.category_id,item_id=item.id) }}">
               {% if item.user_id == user.user_id %}
                  <button class="btn_delete" >Delete</button>
              {% else %}
                  <button class="btn_delete " disabled >Delete</button>
              {% endif %}
            </a>
        {% endif %}
     </main>
 </body>
</html>
